@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/nunito-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/nunito-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/nunito-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ulm Grotesk';
  src: url('/assets/fonts/ulm-grotesk-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/assets/fonts/sharp-grotesk.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
